*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.banner{
    text-align: center;
    background-color: #874e26;
    height: 350px;
}


.banner h1{
    padding-top: 125px;
    font-size: 50px;
}

.footer{
    background-color: rgb(224, 180, 68);
    height: 379px;
}

.buttons{
    text-align: center;
    padding: 20px;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: green;
    margin: 25px;
    transition: 0.25s;
}

a:hover{
color: rgb(1, 64, 1);
}

.content{
    margin-top: 50px;
}

.content h1{
    font-size: 50px;
}

.content *{
    margin-top: 20px;
}

p{
    font-size: 20px;
}

.information{
    color: #683d1f;
}
